/*FOOTER*/


#footer{
    margin-top: auto;
    width:100%;
    height: 250px;
    display: flex;
    justify-content:space-around;
    align-items:center;
    font-family:"Ysabeau SC", serif;
}


.footerNav{
    text-align: center;
    font-size: 15px;

}
.footerNav a{
    color:#eaa36a; 
}

.footerNav-copy h2{
    font-size: 15px;
}

.footerRedes{
    font-size: 50px;
}