  /*responsive para celular parte inicio*/

@media screen and ( max-width:500px){
    li{ 
        margin: 0%;
        padding: 0%;}
    #enlaces{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    #enlaces a { 
        display: flex;
        justify-content: flex-start;
    }
    #enlaces i {
        margin-left: 0px;
        font-size: 30px;

    }
    
    #nav ul{
        display:grid;
        grid-template-columns: 1fr ;
        padding: 0%;
    }
    #nav li{
        padding: 0%;
        margin: 5px 5px;
    }
    .divofertas{
        margin-top: 120px;
        border-radius: 0%;
        margin-bottom: 140px;
    }
    .hr{ 
        margin-top: 0%;
    }
    .tarjetas{
        display: grid;
        grid-template-columns: 1fr;
    }
    /* fin responsive de inicio*/
    .coleccionTarjetaTienda{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .tarjetaTienda{
        width: 250px;
        height: 450px;
    }
    /*fin responsivo tienda*/
    .seccionNosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    } 
    /*fin responsivo nosotros*/
    
    .seccionDosContacto{
        display: grid;
        grid-template-columns: 1fr;
    }
    .imgContacto img{
        width:500px ;
        height: 70%;
    }
    .parrafoContacto{
        background-color: rgba(222, 180, 101, 0.463);
        height: 100%;
        margin-bottom: 150px;
    }
    /*fin responsivo contacto*/
    .tarjetasBlog{
        display: grid;
        grid-template-columns: 1fr ;
        justify-items: center;
    }
    
    #footer{
        flex-direction: column;
    }
    .footerNav a{
        display: flex;
        flex-direction: column;
    }
    .footerNav ul{
        padding: 0%;
    }
    .footerNav-copy{
        display: flex;
        justify-content: center;
    }
}